
{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<p>
<h3>Publishers</h3>
• All publishers<br>
- <a href="{{ currentPath }}publishers/list">{{ currentPath }}publishers/list</a><br>
• A specific publisher by ID:<br>
- <a href="{{ currentPath }}publishers/14">{{ currentPath }}publishers/14</a>
</p>

<p>
<h3>Authors</h3>
• All authors<br>
- <a href="{{ currentPath }}authors/list">{{ currentPath }}authors/list</a><br>
• A specific author by ID:<br>
- <a href="{{ currentPath }}authors/5">{{ currentPath }}authors/5</a>
</p>

<p>
<h3>Books</h3>
• All featured/highlighted items: <br>
- <a href="{{ currentPath }}books/highlighted">{{ currentPath }}books/highlighted</a><br>
• A specific book by ID:<br>
- <a href="{{ currentPath }}books/49">{{ currentPath }}books/49</a>
</p>

<p>
<h3>Search</h3>
• Search by keyword ( optional offset / limit ):<br>
- <a href="{{ currentPath }}books/search/Eaekoiuboi">{{ currentPath }}books/search/Eaekoiuboi</a><br>
- <a href="{{ currentPath }}books/search/Eaekoiuboi/0/1">{{ currentPath }}books/search/Eaekoiuboi/0/1</a>
</p>

